 {% extends 'base.html.twig' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Uredi profesora</div>
                <div class="panel-body">
                    {{ form_start(edit_form) }}
                    <div class="form_group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(edit_form.name, {'label' : 'Ime i prezime','attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form_group">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_row(edit_form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form_group">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_row(edit_form.smijer, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(edit_form.plainPassword.first, {'label' : 'Lozinka','attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form_group">
                        <div class="col-md-8 col-md-offset-2">
                            {{ form_row(edit_form.plainPassword.second, {'label' : 'Ponovite lozinku','attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-btn fa-user"></i> Uredi profesora
                            </button>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}